# Ignore jupyter notebook files
.ipynb_checkpoints/

# Ignore pycache files
data_preparation/__pycache__/
helpers/__pycache__/

# Ignore big files
*.dat
*.pt
*.zip
*.bz2
*.tar
*.bin
*.pickle

# Ignore dataset files from datawtext-plan project
rotowire/

**/*rotowire*/

# Ignore pycache files
**/__pycache__/

# ignore .data/
**/.data/

# ignore .idea/
**/.idea/

