nltk
transformers
torch
scikit-learn
numpy
stanza
boto3


# pip install boto3
# pip install stanza
# pip install scikit-learn
# pip3 install torch torchvision torchaudio
# pip install transformers
# pip install nltk
# pip install sacrebleu
# pip install rouge-score